<div class="title flex flex-col justify-center items-center">
    <div class="max-w-4xl my-8">
        <h1 class="text-4xl font-bold mb-2">ArtCollab, Caso de estudio UX/UI</h1>
        <p class="text-lg">Creando una nueva vía de ingresos para los ilustradores.</p>
    </div>
    <img src="https://i.imgur.com/GB8wqLr.png" alt="Cover" class="w-full" />
</div>
<div class="about flex flex-col justify-center items-center my-8">
    <div class="max-w-4xl">
        <h2 class="text-2xl font-medium">Sobre ArtCollab</h2>
        <p>ArtCollab es una app web diseñada cómo una solución para conectar ilustradores con escritores para la creación de libros ilustrados. En este estudio de caso, lo guiaré a través del proceso, los resultados y los aprendizajes que obtuve al diseñar esta experiencia.</p>
    </div>
</div>
<div class="research flex flex-col justify-center items-center">
    <div class="max-w-4xl">
        <h2 class="text-2xl font-medium">Investigación</h2>
        <p>ArtCollab es una app web diseñada cómo una solución para conectar ilustradores con escritores para la creación de libros ilustrados. En este estudio de caso, lo guiaré a través del proceso, los resultados y los aprendizajes que obtuve al diseñar esta experiencia.</p>
        <div class="flex flex-col md:flex-row justify-center items-center">
            <img src="https://i.imgur.com/MUKqCM1.png" alt="Research" class="w-xl" />
            <img src="https://i.imgur.com/uEBhuAK.png" alt="Research" class="w-xl" />
        </div>
        <p class="my-8">A partir de la obteneción de datos por medio de entrevistas y cuestionarios realizados se pudo descubrir que:</p>  
        <div class="max-w-3xl">
            <ul style="list-style-type: square;">
                <li>La mayoría de los entrevistados (80-100%) están interesados en libros ilustrados, lo que indica que existe un mercado potencial para una plataforma que combine escritura e ilustración.</li>
                <li>Todos los segmentos enfatizan la importancia de contar con herramientas de comunicación en la plataforma. Escritores quieren contactar ilustradores e ilustradores desean comunicarse con escritores.</li>
                <li>Un alto porcentaje de los entrevistados ya ha usado plataformas como Wattpad, Pinterest, Instagram o Facebook para compartir su contenido, pero sienten que no ofrecen suficiente especialización ni herramientas adecuadas.</li>
                <li>Tanto escritores como ilustradores mencionan la necesidad de un espacio dedicado donde puedan promocionar sus obras, lo que sugiere que una plataforma de este tipo podría cubrir una demanda insatisfecha.</li>
                <li>Un diseño intuitivo y adaptable a cualquier dispositivo es una prioridad para la mayoría de los entrevistados.</li>
            </ul>
        </div>      
        <div class="user-segments my-8">
            <p>A través de los datos obtenidos decidí crear un user persona por cada uno de los 2 segmentos.</p>
            <div class="writer-segment flex flex-col items-center my-8">
                <img src="https://github.com/Open-Source-SW54-Group-3-ArtCollab/Report/raw/develop/assets/images/user-personas/Luz.png?raw=true" class="w-xl"/>
                <small>User Persona Segmento Escritor</small>
            </div>
            <div class="illutrator-segment flex flex-col items-center">
                <img src="https://github.com/Open-Source-SW54-Group-3-ArtCollab/Report/raw/develop/assets/images/user-personas/Alexandra.png?raw=true" class="w-xl"/>
                <small>User Persona Segmento Ilustrador</small>
            </div>
        </div>            
    </div>
</div>
<div class="competitive-analysis flex flex-col justify-center items-center">
    <div class="flex flex-col items-center max-w-4xl">  
        <p>En este punto, ya teníamos un mejor conocimiento de nuestros usuarios, por lo que era el momento de enfocarnos en el negocio. Realicé un análisis de la competencia para identificar nichos de mercado en los que pudiéramos especializarnos y obtener una visión general de las aplicaciones más utilizadas por los usuarios.</p>
        <div class="my-8">
            <p>Comenzamos explorando el panorama general de las apps de lectura. A partir de este análisis, seleccionamos las tres más relevantes en cuanto a calidad, popularidad y alineación con los resultados esperados por el cliente: Wattpad, Webtoon y Tapas.</p>
            <div class="flex flex-col items-center">
                <img src="https://i.imgur.com/tyzbWHX.png"/>
                <small>Aplicaciones seleccionadas para el análisis competitivo</small>
            </div> 
        </div> 
        <div class="my-8">
            <p>Para llevar a cabo este análisis, consideré aspectos como el tamaño de la empresa, su trayectoria, las inversiones recibidas y algunos datos clave del negocio. Esto nos permitió obtener una perspectiva realista sobre qué esperar después del lanzamiento. El análisis abarcó los siguientes aspectos:</p>       
            <div class="max-w-3xl mt-6">
                <ul style="list-style-type: square;">
                    <li><strong>Funcionalidades gratuitas y de pago:</strong> Se evaluó el alcance del contenido gratuito, su presentación dentro de la aplicación en comparación con el contenido premium y los distintos planes de precios disponibles.</li>
                    <li><strong>Contenido:</strong> Se analizaron los temas y formatos de contenido más utilizados.</li>
                    <li><strong>Ventaja competitiva:</strong> Se analizaron los aspectos diferenciadores de cada aplicación para identificar los elementos que las hacen destacar frente a la competencia.</li>
                </ul> 
            </div>
        </div>
        <div class="mb-8">
            <p>Con esta información como base, sintetizé los aspectos positivos y negativos, identificando los factores clave del éxito, las posibles amenazas y las oportunidades de mejora. A partir de ello, elaboré recomendaciones enfocadas en el diseño, el modelo de negocio y la estrategia de creación de contenidos.</p> 
        <div class="max-w-3xl mt-6">
            <ul style="list-style-type: square;">
                <li><strong>Diferenciación de la plataforma:</strong> Destacaremos los aspectos únicos de tu plataforma, como una amplia variedad de géneros y estilos de ilustración, herramientas avanzadas de colaboración creativa y una experiencia de usuario fluida e intuitiva.</li>
                <li><strong>Comunidad activa:</strong> Impulsaremos una comunidad vibrante de escritores, ilustradores y lectores, proporcionando espacios para compartir obras, interactuar y recibir retroalimentación constructiva, fomentando así la participación y el crecimiento del ecosistema creativo.</li>
                <li><strong>Marketing estratégico:</strong> Implementaremos campañas de marketing digital altamente segmentadas para alcanzar a tu público objetivo. Esto incluirá publicidad en redes sociales, colaboraciones con influencers y presencia en eventos clave del sector.</li>
                <li><strong>Monetización innovadora:</strong> Exploraremos modelos de ingresos diversificados, como suscripciones premium, micropagos, publicidad no intrusiva y patrocinios. Esto permitirá ofrecer opciones flexibles a los usuarios mientras se optimiza la rentabilidad de la plataforma.</li>
            </ul>  
        </div>
    </div>
</div>
<div class="solution flex flex-col justify-center items-center">
    <div class="max-w-4xl">
        <h2 class="text-2xl font-medium">Solución</h2>
        <p>A partir del proceso de investigación realizado se procedió con la creación de los Wireframes y sus respectivos Wireflows donde se muestra el flujo a seguir para cada una de las secciones planteadas. Estos son algunos de los Wireflows que se crearon:</p>
        <div class="flex flex-col items-center my-8">
            <img src="https://raw.githubusercontent.com/Aplicaciones-Web-WX53-Group2-ArtCollab/Report/develop/assets/wireflow-diagrams/IniciarSala.png" style="border: 1px solid black;">
            <small>User goal, usuario busca artistas, contacta con ellos e inicia una sala de chats</small>
        </div>
        <div class="flex flex-col items-center">
            <img class="lg:w-4xl" src="https://raw.githubusercontent.com/Aplicaciones-Web-WX53-Group2-ArtCollab/Report/develop/assets/wireflow-diagrams/EditarPerfilArtista.png" style="border: 1px solid black;">
            <small>User goal, usuario del tipo ilustrador edita su perfil</small>
        </div>
        <div class="flex flex-col items-center my-8">
            <img src="https://raw.githubusercontent.com/Aplicaciones-Web-WX53-Group2-ArtCollab/Report/develop/assets/wireflow-diagrams/IngresosObtenidos.png" style="border: 1px solid black;">
            <small>User goal, usuario visualiza las comisiones obtenidas por cada historia</small>
        </div>
        <div class="flex flex-col items-center mb-16">
            <img src="https://raw.githubusercontent.com/Aplicaciones-Web-WX53-Group2-ArtCollab/Report/develop/assets/wireflow-diagrams/PublicarLibro.png" style="border: 1px solid black;">
            <small>User goal, usuario publica una nueva historia y agrega series a la historia</small>
        </div>

        <p>Posteriormente se procedio a convertir los respectivos Wireframes en MockUps, añadiendo la correspendiente paleta de colores que va acorde al logo e imagenes de ejemplo que ilustran cómo se vería la app en su estado final. Estos son algunos de los User Flows que se crearon:</p>
        <div class="flex flex-col items-center my-8">
            <img src="https://github.com/Open-Source-SW54-Group-3-ArtCollab/Report/raw/752bd15b340d8dc70b073add015551c279dd50c3/assets/images/Userflow-Diagrams/IniciarSala.png?raw=true" style="border: 1px solid black;">
            <small>User goal, usuario busca artistas, contacta con ellos e inicia una sala de chats</small>
        </div>
        <div class="flex flex-col items-center">
            <img src="https://raw.githubusercontent.com/Aplicaciones-Web-WX53-Group2-ArtCollab/Report/develop/assets/Userflow-diagrams/EditarPerfilArtista.png" style="border: 1px solid black;">
            <small>User goal, usuario del tipo ilustrador edita su perfil</small>
        </div>
        <div class="flex flex-col items-center my-8">
            <img src="https://raw.githubusercontent.com/Aplicaciones-Web-WX53-Group2-ArtCollab/Report/develop/assets/Userflow-diagrams/ComisionesObras.png" style="border: 1px solid black;">
            <small>User goal, usuario visualiza las comisiones obtenidas por cada historia</small>
        </div>
        <div class="flex flex-col items-center mb-8">
            <img src="https://raw.githubusercontent.com/Aplicaciones-Web-WX53-Group2-ArtCollab/Report/develop/assets/Userflow-diagrams/PublicarLibro.png" style="border: 1px solid black;">
            <small>User goal, usuario publica una nueva historia y agrega series a la historia</small>
        </div>
    </div>
</div>
<div class="conclusions flex flex-col justify-center items-center">
    <div class="max-w-4xl">
        <h2 class="text-2xl font-medium">Conclusiones</h2>
        <div class="max-w-3xl mt-6">
            <ul style="list-style-type: square;">
                <li>Nuestro proyecto se fundamenta en un análisis profundo de las necesidades de los usuarios, respaldado por entrevistas y estudios detallados. Esto nos ha permitido identificar áreas clave de mejora y formular estrategias basadas en hipótesis sólidas para garantizar el éxito de la plataforma.</li>
                <li class="my-4">Entre las principales estrategias destacan la simplificación del registro, la optimización de la colaboración creativa, la visibilidad de las mejores obras, la incorporación de métricas claras y la implementación de un sistema de suscripción premium. Además, el proyecto abarca aspectos esenciales como el diseño de la interfaz, el desarrollo de funciones específicas, estrategias de marketing y una evaluación continua del rendimiento y la retroalimentación de los usuarios.</li>
            </ul>  
        </div>
    </div>
</div>